NET "sys_clk_p" IOSTANDARD = LVDS_25;
NET "sys_clk_n" IOSTANDARD = LVDS_25;
NET "aux_clk_p[0]" IOSTANDARD = LVDS_25;
NET "aux_clk_p[1]" IOSTANDARD = LVDS_25;
NET "aux_clk_n[0]" IOSTANDARD = LVDS_25;
NET "aux_clk_n[1]" IOSTANDARD = LVDS_25;
NET "aux_synci_p" IOSTANDARD = LVDS_25;
NET "aux_synci_n" IOSTANDARD = LVDS_25;
NET "aux_synco_p" IOSTANDARD = LVDS_25;
NET "aux_synco_n" IOSTANDARD = LVDS_25;
NET "epb_data[0]" IOSTANDARD = LVCMOS25;
NET "epb_data[1]" IOSTANDARD = LVCMOS25;
NET "epb_data[2]" IOSTANDARD = LVCMOS25;
NET "epb_data[3]" IOSTANDARD = LVCMOS25;
NET "epb_data[4]" IOSTANDARD = LVCMOS25;
NET "epb_data[5]" IOSTANDARD = LVCMOS25;
NET "epb_data[6]" IOSTANDARD = LVCMOS25;
NET "epb_data[7]" IOSTANDARD = LVCMOS25;
NET "epb_data[8]" IOSTANDARD = LVCMOS25;
NET "epb_data[9]" IOSTANDARD = LVCMOS25;
NET "epb_data[10]" IOSTANDARD = LVCMOS25;
NET "epb_data[11]" IOSTANDARD = LVCMOS25;
NET "epb_data[12]" IOSTANDARD = LVCMOS25;
NET "epb_data[13]" IOSTANDARD = LVCMOS25;
NET "epb_data[14]" IOSTANDARD = LVCMOS25;
NET "epb_data[15]" IOSTANDARD = LVCMOS25;
NET "epb_data[16]" IOSTANDARD = LVCMOS25;
NET "epb_data[17]" IOSTANDARD = LVCMOS25;
NET "epb_data[18]" IOSTANDARD = LVCMOS25;
NET "epb_data[19]" IOSTANDARD = LVCMOS25;
NET "epb_data[20]" IOSTANDARD = LVCMOS25;
NET "epb_data[21]" IOSTANDARD = LVCMOS25;
NET "epb_data[22]" IOSTANDARD = LVCMOS25;
NET "epb_data[23]" IOSTANDARD = LVCMOS25;
NET "epb_data[24]" IOSTANDARD = LVCMOS25;
NET "epb_data[25]" IOSTANDARD = LVCMOS25;
NET "epb_data[26]" IOSTANDARD = LVCMOS25;
NET "epb_data[27]" IOSTANDARD = LVCMOS25;
NET "epb_data[28]" IOSTANDARD = LVCMOS25;
NET "epb_data[29]" IOSTANDARD = LVCMOS25;
NET "epb_data[30]" IOSTANDARD = LVCMOS25;
NET "epb_data[31]" IOSTANDARD = LVCMOS25;
NET "epb_addr[0]" IOSTANDARD = LVCMOS25;
NET "epb_addr[1]" IOSTANDARD = LVCMOS25;
NET "epb_addr[2]" IOSTANDARD = LVCMOS25;
NET "epb_addr[3]" IOSTANDARD = LVCMOS25;
NET "epb_addr[4]" IOSTANDARD = LVCMOS25;
NET "epb_addr[5]" IOSTANDARD = LVCMOS25;
NET "epb_addr[6]" IOSTANDARD = LVCMOS25;
NET "epb_addr[7]" IOSTANDARD = LVCMOS25;
NET "epb_addr[8]" IOSTANDARD = LVCMOS25;
NET "epb_addr[9]" IOSTANDARD = LVCMOS25;
NET "epb_addr[10]" IOSTANDARD = LVCMOS25;
NET "epb_addr[11]" IOSTANDARD = LVCMOS25;
NET "epb_addr[12]" IOSTANDARD = LVCMOS25;
NET "epb_addr[13]" IOSTANDARD = LVCMOS25;
NET "epb_addr[14]" IOSTANDARD = LVCMOS25;
NET "epb_addr[15]" IOSTANDARD = LVCMOS25;
NET "epb_addr[16]" IOSTANDARD = LVCMOS25;
NET "epb_addr[17]" IOSTANDARD = LVCMOS25;
NET "epb_addr[18]" IOSTANDARD = LVCMOS25;
NET "epb_addr[19]" IOSTANDARD = LVCMOS25;
NET "epb_addr[20]" IOSTANDARD = LVCMOS25;
NET "epb_addr[21]" IOSTANDARD = LVCMOS25;
NET "epb_addr[22]" IOSTANDARD = LVCMOS25;
NET "epb_addr[23]" IOSTANDARD = LVCMOS25;
NET "epb_addr[24]" IOSTANDARD = LVCMOS25;
NET "epb_addr[25]" IOSTANDARD = LVCMOS25;
NET "epb_addr[26]" IOSTANDARD = LVCMOS25;
NET "epb_addr[27]" IOSTANDARD = LVCMOS25;
NET "epb_addr[28]" IOSTANDARD = LVCMOS25;
NET "epb_cs_n[0]" IOSTANDARD = LVCMOS25;
NET "epb_cs_n[1]" IOSTANDARD = LVCMOS25;
NET "epb_r_w_n" IOSTANDARD = LVCMOS25;
NET "epb_oe_n" IOSTANDARD = LVCMOS25;
NET "epb_blast_n" IOSTANDARD = LVCMOS25;
NET "epb_rdy" IOSTANDARD = LVCMOS25;
NET "epb_clk" IOSTANDARD = LVCMOS25;
NET "ppc_irq_n" IOSTANDARD = LVCMOS25;
NET "gpio[15]" IOSTANDARD = LVCMOS15;
NET "gpio[14]" IOSTANDARD = LVCMOS15;
NET "gpio[13]" IOSTANDARD = LVCMOS15;
NET "gpio[12]" IOSTANDARD = LVCMOS15;
NET "gpio[11]" IOSTANDARD = LVCMOS15;
NET "gpio[10]" IOSTANDARD = LVCMOS15;
NET "gpio[9]" IOSTANDARD = LVCMOS15;
NET "gpio[8]" IOSTANDARD = LVCMOS15;
NET "ddr3_dq[0]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[1]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[2]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[3]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[4]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[5]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[6]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[7]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[8]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[9]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[10]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[11]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[12]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[13]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[14]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[15]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[16]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[17]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[18]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[19]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[20]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[21]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[22]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[23]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[24]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[25]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[26]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[27]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[28]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[29]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[30]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[31]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[32]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[33]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[34]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[35]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[36]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[37]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[38]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[39]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[40]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[41]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[42]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[43]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[44]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[45]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[46]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[47]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[48]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[49]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[50]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[51]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[52]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[53]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[54]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[55]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[56]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[57]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[58]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[59]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[60]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[61]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[62]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[63]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[64]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[65]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[66]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[67]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[68]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[69]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[70]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dq[71]" IOSTANDARD = SSTL15_T_DCI;
NET "ddr3_dm[0]" IOSTANDARD = SSTL15;
NET "ddr3_dm[1]" IOSTANDARD = SSTL15;
NET "ddr3_dm[2]" IOSTANDARD = SSTL15;
NET "ddr3_dm[3]" IOSTANDARD = SSTL15;
NET "ddr3_dm[4]" IOSTANDARD = SSTL15;
NET "ddr3_dm[5]" IOSTANDARD = SSTL15;
NET "ddr3_dm[6]" IOSTANDARD = SSTL15;
NET "ddr3_dm[7]" IOSTANDARD = SSTL15;
NET "ddr3_dm[8]" IOSTANDARD = SSTL15;
NET "ddr3_dqs[0]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs[1]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs[2]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs[3]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs[4]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs[5]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs[6]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs[7]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs[8]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs_n[0]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs_n[1]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs_n[2]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs_n[3]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs_n[4]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs_n[5]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs_n[6]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs_n[7]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_dqs_n[8]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_ba[0]" IOSTANDARD = SSTL15;
NET "ddr3_ba[1]" IOSTANDARD = SSTL15;
NET "ddr3_ba[2]" IOSTANDARD = SSTL15;
NET "ddr3_a[0]" IOSTANDARD = SSTL15;
NET "ddr3_a[1]" IOSTANDARD = SSTL15;
NET "ddr3_a[2]" IOSTANDARD = SSTL15;
NET "ddr3_a[3]" IOSTANDARD = SSTL15;
NET "ddr3_a[4]" IOSTANDARD = SSTL15;
NET "ddr3_a[5]" IOSTANDARD = SSTL15;
NET "ddr3_a[6]" IOSTANDARD = SSTL15;
NET "ddr3_a[7]" IOSTANDARD = SSTL15;
NET "ddr3_a[8]" IOSTANDARD = SSTL15;
NET "ddr3_a[9]" IOSTANDARD = SSTL15;
NET "ddr3_a[10]" IOSTANDARD = SSTL15;
NET "ddr3_a[11]" IOSTANDARD = SSTL15;
NET "ddr3_a[12]" IOSTANDARD = SSTL15;
NET "ddr3_a[13]" IOSTANDARD = SSTL15;
NET "ddr3_a[14]" IOSTANDARD = SSTL15;
NET "ddr3_a[15]" IOSTANDARD = SSTL15;
NET "ddr3_ck[0]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_ck[1]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_ck_n[0]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_ck_n[1]" IOSTANDARD = DIFF_SSTL15_T_DCI;
NET "ddr3_cke[0]" IOSTANDARD = SSTL15;
NET "ddr3_cke[1]" IOSTANDARD = SSTL15;
NET "ddr3_ras_n" IOSTANDARD = SSTL15;
NET "ddr3_cas_n" IOSTANDARD = SSTL15;
NET "ddr3_we_n" IOSTANDARD = SSTL15;
NET "ddr3_s_n[0]" IOSTANDARD = SSTL15;
NET "ddr3_s_n[1]" IOSTANDARD = SSTL15;
NET "ddr3_s_n[2]" IOSTANDARD = SSTL15;
NET "ddr3_s_n[3]" IOSTANDARD = SSTL15;
NET "ddr3_odt[0]" IOSTANDARD = SSTL15;
NET "ddr3_odt[1]" IOSTANDARD = SSTL15;
NET "ddr3_reset_n" IOSTANDARD = SSTL15;
#NET "ddr3_sda"       IOSTANDARD = LVCMOS15;
#NET "ddr3_scl"       IOSTANDARD = LVCMOS15;
NET "qdr0_d[0]" IOSTANDARD = HSTL_I;
NET "qdr0_d[1]" IOSTANDARD = HSTL_I;
NET "qdr0_d[2]" IOSTANDARD = HSTL_I;
NET "qdr0_d[3]" IOSTANDARD = HSTL_I;
NET "qdr0_d[4]" IOSTANDARD = HSTL_I;
NET "qdr0_d[5]" IOSTANDARD = HSTL_I;
NET "qdr0_d[6]" IOSTANDARD = HSTL_I;
NET "qdr0_d[7]" IOSTANDARD = HSTL_I;
NET "qdr0_d[8]" IOSTANDARD = HSTL_I;
NET "qdr0_d[9]" IOSTANDARD = HSTL_I;
NET "qdr0_d[10]" IOSTANDARD = HSTL_I;
NET "qdr0_d[11]" IOSTANDARD = HSTL_I;
NET "qdr0_d[12]" IOSTANDARD = HSTL_I;
NET "qdr0_d[13]" IOSTANDARD = HSTL_I;
NET "qdr0_d[14]" IOSTANDARD = HSTL_I;
NET "qdr0_d[15]" IOSTANDARD = HSTL_I;
NET "qdr0_d[16]" IOSTANDARD = HSTL_I;
NET "qdr0_d[17]" IOSTANDARD = HSTL_I;
NET "qdr0_d[18]" IOSTANDARD = HSTL_I;
NET "qdr0_d[19]" IOSTANDARD = HSTL_I;
NET "qdr0_d[20]" IOSTANDARD = HSTL_I;
NET "qdr0_d[21]" IOSTANDARD = HSTL_I;
NET "qdr0_d[22]" IOSTANDARD = HSTL_I;
NET "qdr0_d[23]" IOSTANDARD = HSTL_I;
NET "qdr0_d[24]" IOSTANDARD = HSTL_I;
NET "qdr0_d[25]" IOSTANDARD = HSTL_I;
NET "qdr0_d[26]" IOSTANDARD = HSTL_I;
NET "qdr0_d[27]" IOSTANDARD = HSTL_I;
NET "qdr0_d[28]" IOSTANDARD = HSTL_I;
NET "qdr0_d[29]" IOSTANDARD = HSTL_I;
NET "qdr0_d[30]" IOSTANDARD = HSTL_I;
NET "qdr0_d[31]" IOSTANDARD = HSTL_I;
NET "qdr0_d[32]" IOSTANDARD = HSTL_I;
NET "qdr0_d[33]" IOSTANDARD = HSTL_I;
NET "qdr0_d[34]" IOSTANDARD = HSTL_I;
NET "qdr0_d[35]" IOSTANDARD = HSTL_I;
NET "qdr0_q[0]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[1]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[2]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[3]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[4]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[5]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[6]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[7]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[8]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[9]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[10]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[11]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[12]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[13]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[14]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[15]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[16]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[17]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[18]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[19]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[20]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[21]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[22]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[23]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[24]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[25]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[26]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[27]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[28]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[29]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[30]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[31]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[32]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[33]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[34]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_q[35]" IOSTANDARD = HSTL_I_DCI;
NET "qdr0_sa[0]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[1]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[2]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[3]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[4]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[5]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[6]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[7]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[8]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[9]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[10]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[11]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[12]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[13]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[14]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[15]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[16]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[17]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[18]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[19]" IOSTANDARD = HSTL_I;
NET "qdr0_sa[20]" IOSTANDARD = HSTL_I;
NET "qdr0_bw_n[0]" IOSTANDARD = HSTL_I;
NET "qdr0_bw_n[1]" IOSTANDARD = HSTL_I;
NET "qdr0_bw_n[2]" IOSTANDARD = HSTL_I;
NET "qdr0_bw_n[3]" IOSTANDARD = HSTL_I;
NET "qdr0_r_n" IOSTANDARD = HSTL_I;
NET "qdr0_dll_off_n" IOSTANDARD = HSTL_I;
NET "qdr0_k_p" IOSTANDARD = HSTL_I;
NET "qdr0_k_n" IOSTANDARD = HSTL_I;
NET "qdr1_d[0]" IOSTANDARD = HSTL_I;
NET "qdr1_d[1]" IOSTANDARD = HSTL_I;
NET "qdr1_d[2]" IOSTANDARD = HSTL_I;
NET "qdr1_d[3]" IOSTANDARD = HSTL_I;
NET "qdr1_d[4]" IOSTANDARD = HSTL_I;
NET "qdr1_d[5]" IOSTANDARD = HSTL_I;
NET "qdr1_d[6]" IOSTANDARD = HSTL_I;
NET "qdr1_d[7]" IOSTANDARD = HSTL_I;
NET "qdr1_d[8]" IOSTANDARD = HSTL_I;
NET "qdr1_d[9]" IOSTANDARD = HSTL_I;
NET "qdr1_d[10]" IOSTANDARD = HSTL_I;
NET "qdr1_d[11]" IOSTANDARD = HSTL_I;
NET "qdr1_d[12]" IOSTANDARD = HSTL_I;
NET "qdr1_d[13]" IOSTANDARD = HSTL_I;
NET "qdr1_d[14]" IOSTANDARD = HSTL_I;
NET "qdr1_d[15]" IOSTANDARD = HSTL_I;
NET "qdr1_d[16]" IOSTANDARD = HSTL_I;
NET "qdr1_d[17]" IOSTANDARD = HSTL_I;
NET "qdr1_d[18]" IOSTANDARD = HSTL_I;
NET "qdr1_d[19]" IOSTANDARD = HSTL_I;
NET "qdr1_d[20]" IOSTANDARD = HSTL_I;
NET "qdr1_d[21]" IOSTANDARD = HSTL_I;
NET "qdr1_d[22]" IOSTANDARD = HSTL_I;
NET "qdr1_d[23]" IOSTANDARD = HSTL_I;
NET "qdr1_d[24]" IOSTANDARD = HSTL_I;
NET "qdr1_d[25]" IOSTANDARD = HSTL_I;
NET "qdr1_d[26]" IOSTANDARD = HSTL_I;
NET "qdr1_d[27]" IOSTANDARD = HSTL_I;
NET "qdr1_d[28]" IOSTANDARD = HSTL_I;
NET "qdr1_d[29]" IOSTANDARD = HSTL_I;
NET "qdr1_d[30]" IOSTANDARD = HSTL_I;
NET "qdr1_d[31]" IOSTANDARD = HSTL_I;
NET "qdr1_d[32]" IOSTANDARD = HSTL_I;
NET "qdr1_d[33]" IOSTANDARD = HSTL_I;
NET "qdr1_d[34]" IOSTANDARD = HSTL_I;
NET "qdr1_d[35]" IOSTANDARD = HSTL_I;
NET "qdr1_q[0]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[1]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[2]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[3]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[4]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[5]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[6]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[7]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[8]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[9]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[10]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[11]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[12]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[13]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[14]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[15]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[16]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[17]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[18]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[19]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[20]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[21]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[22]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[23]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[24]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[25]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[26]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[27]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[28]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[29]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[30]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[31]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[32]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[33]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[34]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_q[35]" IOSTANDARD = HSTL_I_DCI;
NET "qdr1_sa[0]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[1]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[2]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[3]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[4]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[5]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[6]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[7]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[8]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[9]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[10]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[11]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[12]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[13]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[14]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[15]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[16]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[17]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[18]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[19]" IOSTANDARD = HSTL_I;
NET "qdr1_sa[20]" IOSTANDARD = HSTL_I;
NET "qdr1_bw_n[0]" IOSTANDARD = HSTL_I;
NET "qdr1_bw_n[1]" IOSTANDARD = HSTL_I;
NET "qdr1_bw_n[2]" IOSTANDARD = HSTL_I;
NET "qdr1_bw_n[3]" IOSTANDARD = HSTL_I;
NET "qdr1_w_n" IOSTANDARD = HSTL_I;
NET "qdr1_r_n" IOSTANDARD = HSTL_I;
NET "qdr1_dll_off_n" IOSTANDARD = HSTL_I;
NET "qdr1_k_p" IOSTANDARD = HSTL_I;
NET "qdr1_k_n" IOSTANDARD = HSTL_I;
NET "qdr2_d[0]" IOSTANDARD = HSTL_I;
NET "qdr2_d[1]" IOSTANDARD = HSTL_I;
NET "qdr2_d[2]" IOSTANDARD = HSTL_I;
NET "qdr2_d[3]" IOSTANDARD = HSTL_I;
NET "qdr2_d[4]" IOSTANDARD = HSTL_I;
NET "qdr2_d[5]" IOSTANDARD = HSTL_I;
NET "qdr2_d[6]" IOSTANDARD = HSTL_I;
NET "qdr2_d[7]" IOSTANDARD = HSTL_I;
NET "qdr2_d[8]" IOSTANDARD = HSTL_I;
NET "qdr2_d[9]" IOSTANDARD = HSTL_I;
NET "qdr2_d[10]" IOSTANDARD = HSTL_I;
NET "qdr2_d[11]" IOSTANDARD = HSTL_I;
NET "qdr2_d[12]" IOSTANDARD = HSTL_I;
NET "qdr2_d[13]" IOSTANDARD = HSTL_I;
NET "qdr2_d[14]" IOSTANDARD = HSTL_I;
NET "qdr2_d[15]" IOSTANDARD = HSTL_I;
NET "qdr2_d[16]" IOSTANDARD = HSTL_I;
NET "qdr2_d[17]" IOSTANDARD = HSTL_I;
NET "qdr2_d[18]" IOSTANDARD = HSTL_I;
NET "qdr2_d[19]" IOSTANDARD = HSTL_I;
NET "qdr2_d[20]" IOSTANDARD = HSTL_I;
NET "qdr2_d[21]" IOSTANDARD = HSTL_I;
NET "qdr2_d[22]" IOSTANDARD = HSTL_I;
NET "qdr2_d[23]" IOSTANDARD = HSTL_I;
NET "qdr2_d[24]" IOSTANDARD = HSTL_I;
NET "qdr2_d[25]" IOSTANDARD = HSTL_I;
NET "qdr2_d[26]" IOSTANDARD = HSTL_I;
NET "qdr2_d[27]" IOSTANDARD = HSTL_I;
NET "qdr2_d[28]" IOSTANDARD = HSTL_I;
NET "qdr2_d[29]" IOSTANDARD = HSTL_I;
NET "qdr2_d[30]" IOSTANDARD = HSTL_I;
NET "qdr2_d[31]" IOSTANDARD = HSTL_I;
NET "qdr2_d[32]" IOSTANDARD = HSTL_I;
NET "qdr2_d[33]" IOSTANDARD = HSTL_I;
NET "qdr2_d[34]" IOSTANDARD = HSTL_I;
NET "qdr2_d[35]" IOSTANDARD = HSTL_I;
NET "qdr2_q[0]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[1]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[2]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[3]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[4]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[5]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[6]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[7]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[8]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[9]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[10]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[11]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[12]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[13]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[14]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[15]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[16]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[17]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[18]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[19]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[20]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[21]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[22]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[23]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[24]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[25]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[26]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[27]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[28]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[29]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[30]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[31]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[32]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[33]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[34]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_q[35]" IOSTANDARD = HSTL_I_DCI;
NET "qdr2_sa[0]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[1]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[2]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[3]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[4]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[5]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[6]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[7]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[8]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[9]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[10]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[11]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[12]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[13]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[14]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[15]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[16]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[17]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[18]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[19]" IOSTANDARD = HSTL_I;
NET "qdr2_sa[20]" IOSTANDARD = HSTL_I;
NET "qdr2_bw_n[0]" IOSTANDARD = HSTL_I;
NET "qdr2_bw_n[1]" IOSTANDARD = HSTL_I;
NET "qdr2_bw_n[2]" IOSTANDARD = HSTL_I;
NET "qdr2_bw_n[3]" IOSTANDARD = HSTL_I;
NET "qdr2_w_n" IOSTANDARD = HSTL_I;
NET "qdr2_r_n" IOSTANDARD = HSTL_I;
NET "qdr2_dll_off_n" IOSTANDARD = HSTL_I;
NET "qdr2_k_p" IOSTANDARD = HSTL_I;
NET "qdr2_k_n" IOSTANDARD = HSTL_I;
NET "qdr3_d[0]" IOSTANDARD = HSTL_I;
NET "qdr3_d[1]" IOSTANDARD = HSTL_I;
NET "qdr3_d[2]" IOSTANDARD = HSTL_I;
NET "qdr3_d[3]" IOSTANDARD = HSTL_I;
NET "qdr3_d[4]" IOSTANDARD = HSTL_I;
NET "qdr3_d[5]" IOSTANDARD = HSTL_I;
NET "qdr3_d[6]" IOSTANDARD = HSTL_I;
NET "qdr3_d[7]" IOSTANDARD = HSTL_I;
NET "qdr3_d[8]" IOSTANDARD = HSTL_I;
NET "qdr3_d[9]" IOSTANDARD = HSTL_I;
NET "qdr3_d[10]" IOSTANDARD = HSTL_I;
NET "qdr3_d[11]" IOSTANDARD = HSTL_I;
NET "qdr3_d[12]" IOSTANDARD = HSTL_I;
NET "qdr3_d[13]" IOSTANDARD = HSTL_I;
NET "qdr3_d[14]" IOSTANDARD = HSTL_I;
NET "qdr3_d[15]" IOSTANDARD = HSTL_I;
NET "qdr3_d[16]" IOSTANDARD = HSTL_I;
NET "qdr3_d[17]" IOSTANDARD = HSTL_I;
NET "qdr3_d[18]" IOSTANDARD = HSTL_I;
NET "qdr3_d[19]" IOSTANDARD = HSTL_I;
NET "qdr3_d[20]" IOSTANDARD = HSTL_I;
NET "qdr3_d[21]" IOSTANDARD = HSTL_I;
NET "qdr3_d[22]" IOSTANDARD = HSTL_I;
NET "qdr3_d[23]" IOSTANDARD = HSTL_I;
NET "qdr3_d[24]" IOSTANDARD = HSTL_I;
NET "qdr3_d[25]" IOSTANDARD = HSTL_I;
NET "qdr3_d[26]" IOSTANDARD = HSTL_I;
NET "qdr3_d[27]" IOSTANDARD = HSTL_I;
NET "qdr3_d[28]" IOSTANDARD = HSTL_I;
NET "qdr3_d[29]" IOSTANDARD = HSTL_I;
NET "qdr3_d[30]" IOSTANDARD = HSTL_I;
NET "qdr3_d[31]" IOSTANDARD = HSTL_I;
NET "qdr3_d[32]" IOSTANDARD = HSTL_I;
NET "qdr3_d[33]" IOSTANDARD = HSTL_I;
NET "qdr3_d[34]" IOSTANDARD = HSTL_I;
NET "qdr3_d[35]" IOSTANDARD = HSTL_I;
NET "qdr3_q[0]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[1]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[2]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[3]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[4]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[5]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[6]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[7]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[8]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[9]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[10]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[11]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[12]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[13]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[14]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[15]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[16]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[17]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[18]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[19]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[20]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[21]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[22]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[23]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[24]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[25]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[26]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[27]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[28]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[29]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[30]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[31]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[32]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[33]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[34]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_q[35]" IOSTANDARD = HSTL_I_DCI;
NET "qdr3_sa[0]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[1]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[2]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[3]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[4]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[5]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[6]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[7]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[8]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[9]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[10]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[11]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[12]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[13]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[14]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[15]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[16]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[17]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[18]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[19]" IOSTANDARD = HSTL_I;
NET "qdr3_sa[20]" IOSTANDARD = HSTL_I;
NET "qdr3_bw_n[0]" IOSTANDARD = HSTL_I;
NET "qdr3_bw_n[1]" IOSTANDARD = HSTL_I;
NET "qdr3_bw_n[2]" IOSTANDARD = HSTL_I;
NET "qdr3_bw_n[3]" IOSTANDARD = HSTL_I;
NET "qdr3_w_n" IOSTANDARD = HSTL_I;
NET "qdr3_r_n" IOSTANDARD = HSTL_I;
NET "qdr3_dll_off_n" IOSTANDARD = HSTL_I;
NET "qdr3_k_p" IOSTANDARD = HSTL_I;
NET "qdr3_k_n" IOSTANDARD = HSTL_I;
NET "zdok0_p[0]" IOSTANDARD = LVDS_25;
NET "zdok0_p[1]" IOSTANDARD = LVDS_25;
NET "zdok0_p[2]" IOSTANDARD = LVDS_25;
NET "zdok0_p[3]" IOSTANDARD = LVDS_25;
NET "zdok0_p[4]" IOSTANDARD = LVDS_25;
NET "zdok0_p[5]" IOSTANDARD = LVDS_25;
NET "zdok0_p[6]" IOSTANDARD = LVDS_25;
NET "zdok0_p[7]" IOSTANDARD = LVDS_25;
NET "zdok0_p[8]" IOSTANDARD = LVDS_25;
NET "zdok0_p[9]" IOSTANDARD = LVDS_25;
NET "zdok0_p[10]" IOSTANDARD = LVDS_25;
NET "zdok0_p[11]" IOSTANDARD = LVDS_25;
NET "zdok0_p[12]" IOSTANDARD = LVDS_25;
NET "zdok0_p[13]" IOSTANDARD = LVDS_25;
NET "zdok0_p[14]" IOSTANDARD = LVDS_25;
NET "zdok0_p[15]" IOSTANDARD = LVDS_25;
NET "zdok0_p[16]" IOSTANDARD = LVDS_25;
NET "zdok0_p[17]" IOSTANDARD = LVDS_25;
NET "zdok0_p[18]" IOSTANDARD = LVDS_25;
NET "zdok0_p[19]" IOSTANDARD = LVDS_25;
NET "zdok0_p[20]" IOSTANDARD = LVDS_25;
NET "zdok0_p[21]" IOSTANDARD = LVDS_25;
NET "zdok0_p[22]" IOSTANDARD = LVDS_25;
NET "zdok0_p[23]" IOSTANDARD = LVDS_25;
NET "zdok0_p[24]" IOSTANDARD = LVDS_25;
NET "zdok0_p[25]" IOSTANDARD = LVDS_25;
NET "zdok0_p[26]" IOSTANDARD = LVDS_25;
NET "zdok0_p[27]" IOSTANDARD = LVDS_25;
NET "zdok0_p[28]" IOSTANDARD = LVDS_25;
NET "zdok0_p[29]" IOSTANDARD = LVDS_25;
NET "zdok0_p[30]" IOSTANDARD = LVDS_25;
NET "zdok0_p[31]" IOSTANDARD = LVDS_25;
NET "zdok0_p[32]" IOSTANDARD = LVDS_25;
NET "zdok0_p[33]" IOSTANDARD = LVDS_25;
NET "zdok0_p[34]" IOSTANDARD = LVDS_25;
NET "zdok0_p[35]" IOSTANDARD = LVDS_25;
NET "zdok0_p[36]" IOSTANDARD = LVDS_25;
NET "zdok0_p[37]" IOSTANDARD = LVDS_25;
NET "zdok0_n[0]" IOSTANDARD = LVDS_25;
NET "zdok0_n[1]" IOSTANDARD = LVDS_25;
NET "zdok0_n[2]" IOSTANDARD = LVDS_25;
NET "zdok0_n[3]" IOSTANDARD = LVDS_25;
NET "zdok0_n[4]" IOSTANDARD = LVDS_25;
NET "zdok0_n[5]" IOSTANDARD = LVDS_25;
NET "zdok0_n[6]" IOSTANDARD = LVDS_25;
NET "zdok0_n[7]" IOSTANDARD = LVDS_25;
NET "zdok0_n[8]" IOSTANDARD = LVDS_25;
NET "zdok0_n[9]" IOSTANDARD = LVDS_25;
NET "zdok0_n[10]" IOSTANDARD = LVDS_25;
NET "zdok0_n[11]" IOSTANDARD = LVDS_25;
NET "zdok0_n[12]" IOSTANDARD = LVDS_25;
NET "zdok0_n[13]" IOSTANDARD = LVDS_25;
NET "zdok0_n[14]" IOSTANDARD = LVDS_25;
NET "zdok0_n[15]" IOSTANDARD = LVDS_25;
NET "zdok0_n[16]" IOSTANDARD = LVDS_25;
NET "zdok0_n[17]" IOSTANDARD = LVDS_25;
NET "zdok0_n[18]" IOSTANDARD = LVDS_25;
NET "zdok0_n[19]" IOSTANDARD = LVDS_25;
NET "zdok0_n[20]" IOSTANDARD = LVDS_25;
NET "zdok0_n[21]" IOSTANDARD = LVDS_25;
NET "zdok0_n[22]" IOSTANDARD = LVDS_25;
NET "zdok0_n[23]" IOSTANDARD = LVDS_25;
NET "zdok0_n[24]" IOSTANDARD = LVDS_25;
NET "zdok0_n[25]" IOSTANDARD = LVDS_25;
NET "zdok0_n[26]" IOSTANDARD = LVDS_25;
NET "zdok0_n[27]" IOSTANDARD = LVDS_25;
NET "zdok0_n[28]" IOSTANDARD = LVDS_25;
NET "zdok0_n[29]" IOSTANDARD = LVDS_25;
NET "zdok0_n[30]" IOSTANDARD = LVDS_25;
NET "zdok0_n[31]" IOSTANDARD = LVDS_25;
NET "zdok0_n[32]" IOSTANDARD = LVDS_25;
NET "zdok0_n[33]" IOSTANDARD = LVDS_25;
NET "zdok0_n[34]" IOSTANDARD = LVDS_25;
NET "zdok0_n[35]" IOSTANDARD = LVDS_25;
NET "zdok0_n[36]" IOSTANDARD = LVDS_25;
NET "zdok0_n[37]" IOSTANDARD = LVDS_25;
NET "zdok1_p[0]" IOSTANDARD = LVDS_25;
NET "zdok1_p[1]" IOSTANDARD = LVDS_25;
NET "zdok1_p[2]" IOSTANDARD = LVDS_25;
NET "zdok1_p[3]" IOSTANDARD = LVDS_25;
NET "zdok1_p[4]" IOSTANDARD = LVDS_25;
NET "zdok1_p[5]" IOSTANDARD = LVDS_25;
NET "zdok1_p[6]" IOSTANDARD = LVDS_25;
NET "zdok1_p[7]" IOSTANDARD = LVDS_25;
NET "zdok1_p[8]" IOSTANDARD = LVDS_25;
NET "zdok1_p[9]" IOSTANDARD = LVDS_25;
NET "zdok1_p[10]" IOSTANDARD = LVDS_25;
NET "zdok1_p[11]" IOSTANDARD = LVDS_25;
NET "zdok1_p[12]" IOSTANDARD = LVDS_25;
NET "zdok1_p[13]" IOSTANDARD = LVDS_25;
NET "zdok1_p[14]" IOSTANDARD = LVDS_25;
NET "zdok1_p[15]" IOSTANDARD = LVDS_25;
NET "zdok1_p[16]" IOSTANDARD = LVDS_25;
NET "zdok1_p[17]" IOSTANDARD = LVDS_25;
NET "zdok1_p[18]" IOSTANDARD = LVDS_25;
NET "zdok1_p[19]" IOSTANDARD = LVDS_25;
NET "zdok1_p[20]" IOSTANDARD = LVDS_25;
NET "zdok1_p[21]" IOSTANDARD = LVDS_25;
NET "zdok1_p[22]" IOSTANDARD = LVDS_25;
NET "zdok1_p[23]" IOSTANDARD = LVDS_25;
NET "zdok1_p[24]" IOSTANDARD = LVDS_25;
NET "zdok1_p[25]" IOSTANDARD = LVDS_25;
NET "zdok1_p[26]" IOSTANDARD = LVDS_25;
NET "zdok1_p[27]" IOSTANDARD = LVDS_25;
NET "zdok1_p[28]" IOSTANDARD = LVDS_25;
NET "zdok1_p[29]" IOSTANDARD = LVDS_25;
NET "zdok1_p[30]" IOSTANDARD = LVDS_25;
NET "zdok1_p[31]" IOSTANDARD = LVDS_25;
NET "zdok1_p[32]" IOSTANDARD = LVDS_25;
NET "zdok1_p[33]" IOSTANDARD = LVDS_25;
NET "zdok1_p[34]" IOSTANDARD = LVDS_25;
NET "zdok1_p[35]" IOSTANDARD = LVDS_25;
NET "zdok1_p[36]" IOSTANDARD = LVDS_25;
NET "zdok1_p[37]" IOSTANDARD = LVDS_25;
NET "zdok1_n[0]" IOSTANDARD = LVDS_25;
NET "zdok1_n[1]" IOSTANDARD = LVDS_25;
NET "zdok1_n[2]" IOSTANDARD = LVDS_25;
NET "zdok1_n[3]" IOSTANDARD = LVDS_25;
NET "zdok1_n[4]" IOSTANDARD = LVDS_25;
NET "zdok1_n[5]" IOSTANDARD = LVDS_25;
NET "zdok1_n[6]" IOSTANDARD = LVDS_25;
NET "zdok1_n[7]" IOSTANDARD = LVDS_25;
NET "zdok1_n[8]" IOSTANDARD = LVDS_25;
NET "zdok1_n[9]" IOSTANDARD = LVDS_25;
NET "zdok1_n[10]" IOSTANDARD = LVDS_25;
NET "zdok1_n[11]" IOSTANDARD = LVDS_25;
NET "zdok1_n[12]" IOSTANDARD = LVDS_25;
NET "zdok1_n[13]" IOSTANDARD = LVDS_25;
NET "zdok1_n[14]" IOSTANDARD = LVDS_25;
NET "zdok1_n[15]" IOSTANDARD = LVDS_25;
NET "zdok1_n[16]" IOSTANDARD = LVDS_25;
NET "zdok1_n[17]" IOSTANDARD = LVDS_25;
NET "zdok1_n[18]" IOSTANDARD = LVDS_25;
NET "zdok1_n[19]" IOSTANDARD = LVDS_25;
NET "zdok1_n[20]" IOSTANDARD = LVDS_25;
NET "zdok1_n[21]" IOSTANDARD = LVDS_25;
NET "zdok1_n[22]" IOSTANDARD = LVDS_25;
NET "zdok1_n[23]" IOSTANDARD = LVDS_25;
NET "zdok1_n[24]" IOSTANDARD = LVDS_25;
NET "zdok1_n[25]" IOSTANDARD = LVDS_25;
NET "zdok1_n[26]" IOSTANDARD = LVDS_25;
NET "zdok1_n[27]" IOSTANDARD = LVDS_25;
NET "zdok1_n[28]" IOSTANDARD = LVDS_25;
NET "zdok1_n[29]" IOSTANDARD = LVDS_25;
NET "zdok1_n[30]" IOSTANDARD = LVDS_25;
NET "zdok1_n[31]" IOSTANDARD = LVDS_25;
NET "zdok1_n[32]" IOSTANDARD = LVDS_25;
NET "zdok1_n[33]" IOSTANDARD = LVDS_25;
NET "zdok1_n[34]" IOSTANDARD = LVDS_25;
NET "zdok1_n[35]" IOSTANDARD = LVDS_25;
NET "zdok1_n[36]" IOSTANDARD = LVDS_25;
NET "zdok1_n[37]" IOSTANDARD = LVDS_25;
NET "zdok0_clk_p[0]" IOSTANDARD = LVDS_25;
NET "zdok0_clk_p[1]" IOSTANDARD = LVDS_25;
NET "zdok0_clk_n[0]" IOSTANDARD = LVDS_25;
NET "zdok0_clk_n[1]" IOSTANDARD = LVDS_25;
NET "zdok1_clk_p[0]" IOSTANDARD = LVDS_25;
NET "zdok1_clk_p[1]" IOSTANDARD = LVDS_25;
NET "zdok1_clk_n[0]" IOSTANDARD = LVDS_25;
NET "zdok1_clk_n[1]" IOSTANDARD = LVDS_25;
